<?xml version="1.0"?>
<config>

    <modules>
        <Digidennis_Reklamation>
            <version>0.1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Digidennis_Reklamation>
    </modules>

    <global>

        <models>
            <digidennis_reklamation>
                <class>Digidennis_Reklamation_Model</class>
            </digidennis_reklamation>
        </models>

        <blocks>
            <digidennis_reklamation>
                <class>Digidennis_Reklamation_Block</class>
            </digidennis_reklamation>
        </blocks>

        <helpers>
            <digidennis_reklamation>
                <class>Digidennis_Reklamation_Helper</class>
            </digidennis_reklamation>
        </helpers>

    </global>

    <admin>
        <routers>
            <digidennis_reklamation>
                <use>admin</use>
                <args>
                    <module>Digidennis_Reklamation</module>
                    <frontName>reklamation</frontName>
                </args>
            </digidennis_reklamation>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <digidennis_reklamation_core_block_abstract_prepare_layout_before>
                        <type>model</type>
                        <class>Digidennis_Reklamation_Model_Observer</class>
                        <method>completeOrderAction</method>
                    </digidennis_reklamation_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>

    <default>
        <payment>
            <digidennis_reklamation>
                <model>digidennis_reklamation/reklamation</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Reklamation</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </digidennis_reklamation>
        </payment>
    </default>

</config>